html,
body {
        height: 100%;
}

body {
        background-color: #fff;
        font-family: sans-serif;
        margin: 0;
        overflow: hidden;
}

.farSide {
        text-align: right;
}

html[dir="RTL"] .farSide {
        text-align: left;
}

/* Buttons */
button {
        margin: 5px;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ddd;
        font-size: large;
        background-color: #eee;
        color: #000;
}

button.primary {
        border: 1px solid #dd4b39;
        background-color: #dd4b39;
        color: #fff;
}

button.primary>img {
        opacity: 1;
}

button>img {
        opacity: 0.6;
        vertical-align: text-bottom;
}

button:hover>img {
        opacity: 1;
}

button:active {
        border: 1px solid #888 !important;
}

button:hover {
        box-shadow: 2px 2px 5px #888;
}

button.disabled:hover>img {
        opacity: 0.6;
}

button.disabled {
        display: none;
}

button.notext {
        font-size: 10%;
}

h1 {
        font-weight: normal;
        font-size: 140%;
        margin-left: 5px;
        margin-right: 5px;
}

#content_area {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        border: none;
        vertical-align: top;
}

.content {
        visibility: hidden;
        margin: 0;
        padding: 1ex;
        position: absolute;
        direction: ltr;
}

pre.content {
        border: 1px solid #ccc;
        overflow: scroll;
}

#content_blocks {
        padding: 0;
}

.blocklySvg {
        border-top: none !important;
}

#content_xml {
        resize: none;
        outline: none;
        border: 1px solid #ccc;
        font-family: monospace;
        overflow: scroll;
}

#languageMenu {
        vertical-align: top;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
}

/* Buttons */
button {
        padding: 1px 10px;
        margin: 1px 5px;
}

/* Sprited icons. */
.icon21 {
        height: 21px;
        width: 21px;
        background-image: url(icons.png);
}

.trash {
        background-position: 0px 0px;
}

.link {
        background-position: -21px 0px;
}

.run {
        background-position: -42px 0px;
}

@media (max-width: 710px) {
        .tab_collapse {
                display: none;
        }

        #tab_code {
                display: table-cell;
        }
}

/* Privacy link */
.privacyLink {
        font-family: Roboto, Arial, Helvetica, sans-serif;
        font-size: small;
        text-decoration: none;
}

.blocklyToolboxDiv {
    padding: 12px 0px 12px 0px;
}

.blocklyTreeRow {
    height: 36px;
    line-height: 36px;
    margin-bottom: 0px;
}
